.git
.github
.gitignore
.dockerignore
.pytest_cache
.coverage
htmlcov
__pycache__
*.pyc
*.pyo
*.pyd
.venv
venv
ENV
env
.env
.env.local
.vscode
.idea
*.swp
*.swo
.ipynb_checkpoints
data/interim/*
!data/interim/.gitkeep
data/processed/*
!data/processed/.gitkeep
